<!DOCTYPE html>
<html lang="en">
<head>
    <!--METAS-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--MATERIALIZE-->   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    
    <div id="app" class="container">          
        <component v-bind:is="formatedRoute" v-bind:params="params"></component>          
    </div>
    <!--SCRIPTS-->
    <!--JQRY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--MATERIALIZE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--Google APIs-->
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <!--Google plataform-->
    <script src="https://apis.google.com/js/platform.js" async defer></script> 
    
    <?!= Asset('js/app') ?> 
</body>    
</html>